In [1]:
import numpy as np
import pandas as pd

In [2]:
#1. Откройте уже спарсенный и готовый для работы датасет «data.csv»
df = pd.read_csv("data.csv",encoding ='windows-1251')

In [3]:
print(list(df.columns))

['job_title', 'hh_title', 'age', 'salary', 'exp. period', 'title of exp.']

In [4]:
#2. Мы будем работать только со столбцами ['job_title', 'age', 'salary', 'exp. period']. Сохраните только их.
ddf = df.loc[:,['job_title', 'age', 'salary', 'exp. period']]
ddf.head()

      job_title   age    salary  exp. period
0  data analyst  22.0       NaN         2.67
1  data analyst  21.0       NaN         0.83
2  data analyst  30.0       NaN         7.50
3  data analyst  24.0       NaN         4.92
4  data analyst  27.0  450000.0         3.25

In [5]:
ddf.fillna(0,inplace = True)

In [6]:
#3. Создайте переменную Х, которая содержит данные датасета без столбца 'job_title'.
x = ddf.drop('job_title',axis=1).values   
x

array([[22.  ,  0.  ,  2.67],
       [21.  ,  0.  ,  0.83],
       [30.  ,  0.  ,  7.5 ],
       ...,
       [42.  ,  0.  ,  9.33],
       [ 0.  ,  0.  , 16.08],
       [19.  ,  0.  ,  0.33]])

In [7]:
#4. Создайте переменную y, которая содержит только данные столбца 'job_title'
y=ddf['job_title']  
y

0      data analyst
1      data analyst
2      data analyst
3      data analyst
4      data analyst
           ...
995             sql
996             sql
997             sql
998             sql
999             sql
Name: job_title, Length: 1000, dtype: object

In [8]:
#5. Разделите датасеты Х и у на тренировочные и тестовые, где train_size будет равен 80%. На забудьте использовать функцию stratify.
from sklearn.model_selection import train_test_split

In [9]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.8,stratify=y)

In [10]:
#6 Обучите сначала модель с помощью алгоритма GaussianNB.
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [11]:
model.fit(xtrain,ytrain)
y_model = model.predict(xtest)

In [12]:
#7. Протестируйте обученную модель на тестовых данных, и выведите на экран точность модели.
y_model=model.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ytest,y_model)

0.255

In [13]:
#8 Используйте перекрестную проверку модели. Разбейте данные на десять групп и по очереди используйте каждую из них для оценки обучения модели. Выведите на экран среднюю точность модели.
from sklearn.model_selection import cross_val_score

In [14]:
scores = cross_val_score(model, x, y, cv = 10)
scores.mean()

0.344

In [15]:
#9 Затем обучите модель с помощью алгоритма KNeighborsClassifier с количеством n_neighbors равным 3.
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3)

In [16]:
model.fit(x,y)
y_model=model.predict(x)

In [17]:
#10. Протестируйте обученную модель на тестовых данных, и выведите на экран точность модели.
from sklearn.metrics import accuracy_score
accuracy_score(y,y_model)

0.865

In [19]:
#11 Используйте перекрестную проверку модели. Разбейте данные на десять групп и по очереди используйте каждую из них для оценки обучения модели. Выведите на экран среднюю точность модели.
scores = cross_val_score(model, x, y, cv = 10)
scores.mean()

0.857